<!DOCTYPE html>
<html>
  <head>
    <title>Rails Boilerplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :styles %>

    <script>
        const hideAllNotifications = (el) => {
            el.parentNode.parentNode.removeChild(el.parentNode);
        }
    </script>

    <style>
    <% if alert or notice %>
        .notification {
            display: block;
        }
    <% else %>
    .notification {
        display: none;
    }
    <% end %>
    </style>
  </head>

  <body>
    <%= render 'components/navbar' %>

    <% if notice %>
    <div class="notification is-success">
        <button class="delete" onclick="hideAllNotifications(this)"></button>
        <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="notification is-danger">
        <button class="delete" onclick="hideAllNotifications(this)"></button>
        <%= alert %>
    </div>
    <% end %>

    <div class="container">
        <%= yield %>
    </div>
    <%= render 'components/footer' %>
  </body>
</html>
